body {
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.685);
}

#login-card {
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0);
}
#btn-login{
    background-color: rgba(255, 0, 0, 0.685) !important;
    transition: 0.5s;
    border: none;
}
#btn-login:hover{
    background-color: rgb(148, 24, 24)!important;
    color: white;
}